################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/45497fc6-b955-441a-8a05-26b0e34d7eaa.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/7933667f-c67c-482a-9076-34696da331e9.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/9ccc76b2-0dcd-4b66-9698-d326286d30e6.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/8de357ff-c412-4b0a-a5d8-0085b8d9f6ce.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/d3ea9f52-b0bd-460c-934b-065ef2644989.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/1dcde8b0-bb8a-45ca-b599-cb551f709ee7.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/5e7d343a-cac9-4690-b5df-416ec8b71b80.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/fde05170-009f-40e2-a41a-943816cce0f6.vsidx
