################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/45497fc6-b955-441a-8a05-26b0e34d7eaa.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/7933667f-c67c-482a-9076-34696da331e9.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/9ccc76b2-0dcd-4b66-9698-d326286d30e6.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/8de357ff-c412-4b0a-a5d8-0085b8d9f6ce.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/d3ea9f52-b0bd-460c-934b-065ef2644989.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/1eba2165-6768-48da-9e9b-76008df109a3.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/1dcde8b0-bb8a-45ca-b599-cb551f709ee7.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/5e7d343a-cac9-4690-b5df-416ec8b71b80.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/fde05170-009f-40e2-a41a-943816cce0f6.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/39a1ea71-2611-4d92-b384-d8edae5f28e7.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/1087e0ec-080d-46b2-9f71-4f442ce0720d.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/d53c04e2-f28d-4f7c-975f-59386c5e2865.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/04964b2a-b5db-4f5a-b58f-1d77a9705e72.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/b82f90ba-a75d-4117-8ccb-f86219a8ffb2.vsidx
