################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/45497fc6-b955-441a-8a05-26b0e34d7eaa.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/552dc2df-c36c-462b-bc5a-1a09b3a58a15.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/8de357ff-c412-4b0a-a5d8-0085b8d9f6ce.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/d3ea9f52-b0bd-460c-934b-065ef2644989.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/1eba2165-6768-48da-9e9b-76008df109a3.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/1dcde8b0-bb8a-45ca-b599-cb551f709ee7.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/92bd9793-7744-4228-8aa5-6f2495e0975c.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/b2684cd8-8213-4101-95d9-88ead2db5eae.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/7365b0c3-017a-4743-9009-8c89ea1e031a.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/9f5a5a4e-2c35-4e1b-aa67-9386f26e92db.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/f7bce5f1-1f1d-42a1-80f3-8102a74838c0.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/d91b6274-470f-412a-a687-5a3a87567d86.vsidx
/QuanLyRapChieuPhim/.vs/QuanLyRapChieuPhim/FileContentIndex/e71ec729-79e7-42f8-ad5d-eae050d091f7.vsidx
